---
import Header from "../components/Header.astro"
import "@fontsource/montserrat/300.css"
---

<style is:global>
  body {
    font-family: "Montserrat";
  }
  .bg {
    position: absolute;
    inset: 0;
    background-image: url("/video_fond.gif");
    background-size: cover;
    height: 100vh;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Heartist. | By Deka</title>
  </head>
  <body class="bg-[#121212] text-white">
    <div class="bg"></div>
    <Header />
  </body>
</html>
