---
import DefaultLayout from "../layouts/DefaultLayout.astro"
---

<style is:global>
  body {
    font-family: "Montserrat";
  }
  .bg {
    position: absolute;
    inset: 0;
    background-image: url("/video_fond.gif");
    background-size: cover;
    height: 100vh;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
</style>

<DefaultLayout>
  <div class="h-[calc(100vh-80px)]">
    <div
      class="w-full h-full container py-20 px-20 mx-auto flex items-center justify-end"
    >
      <video
        class="w-fit shadow-lg h-full border-4"
        autoplay
        loop
        muted
        playsinline
      >
        <source
          src="https://storage.googleapis.com/heartist_videos/anims/DEKA%20HRTST%20V1.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</DefaultLayout>
