---
import { Image } from "astro:assets"
import heartistLogo from "../assets/images/heartist_logo.svg"
---

<nav class="w-full h-20 bg-gradient-to-b from-black/20 to-transparent">
  <div
    class="container mx-auto flex md:justify-between items-center px-20 h-full"
  >
    <div class="w-full h-full hidden md:flex items-center justify-start">
      <a
        href="https://www.instagram.com/deka.hrtst"
        target="_blank"
        class="uppercase border-b transition-all duration-300 border-transparent hover:border-white"
        >instagram</a
      >
    </div>
    <div
      class="h-full flex w-full md:w-fit items-center justify-center md:justify-normal"
    >
      <a href="/">
        <Image
          src={heartistLogo}
          class={"w-[100px] h-full md:w-[350px]"}
          loading={"eager"}
          alt="Heartist Logo"
        />
      </a>
    </div>
    <div
      class="w-full h-full hidden md:flex space-x-5 items-center justify-end"
    >
      <a
        href="https://www.instagram.com/deka.hrtst"
        target="_blank"
        class="uppercase border-b transition-all duration-300 border-transparent hover:border-white"
        >about</a
      >
      <a
        href="/contact"
        class="uppercase border-b bg-black p-4 cursor-pointer transition-all duration-300 border-transparent hover:bg-white hover:text-black hover:font-bold"
      >
        réserver
      </a>
    </div>
    <div class="block md:hidden space-y-1.5 cursor-pointer">
      <div class="h-0.5 w-6 bg-white"></div>
      <div class="h-0.5 w-6 bg-white"></div>
      <div class="h-0.5 w-6 bg-white"></div>
    </div>
  </div>
</nav>
